.opa1{
    background-color: red;
    opacity: 1;
}

.opa2{
    background-color: red;
    opacity: 0.7;
}

.opa3{
    background-color: red;
    opacity: 0.3;
}

.f1{
    float: left;
}

.clear{
    clear: both;
}

.f2{
    float: right;
}
