p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 30px;
}

span{
    color: blue;
    font-weight: bold;
}

.indent{
    text-indent: 30px;
}

.pad1{
    border: solid;
    padding: 30px; /*top: 30px; right: 30px; bottom: 30px; left: 30px*/
}

.pad2{
    border: solid;
    padding: 30px 60px; /*top-bottom: 30px; right-left: 60px */
}

.pad3{
    border:solid;
    padding: 30px 60px 90px;/*top: 30px; right-left: 60px; bottom: 90px*/
}

.pad4{
    border: solid;
    padding: 30px 60px 90px 120px;/*top:30px; right: 60px; bottom: 90px; left: 120px*/
}

.mar1{
    border: solid;
    margin: 60px;
}

.mix{
    border: solid;
    padding-left: 40px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.border1{
    border-top: solid;
    border-right-style: dashed;
    border-bottom-style: dotted;
    border-left-style: groove;
}

.border2{
    border-style: solid;
    border-color: green;
}

.border3{
    border: solid;
    border-top-width: medium;
    border-right-width: thin;
    border-bottom-width: 20px;
    border-left-width: thick;
}

.border4{
    border: medium solid red ;
}